/* selector{
    property: value;
} */
    body {
        background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
        font-size: 1.15em;
        text-align: justify;
        font-family: "Lato", sans-serif;
        /* text-transform: capitalize;
        text-decoration: overline; */
    }
    
    input, textarea {
        display: block;
        margin: 10px;
    }
    .link:link{
        color: blue;
    }
    .link:visited{
        color: red;
    }

   ul > li {
       color: green;
   }
   /* ul li{
       color: blue;
   } */
   /* ^ means any image with ../img/ as beginning */
img[src^="../img/"]{
    border: 5px solid black;
}
/*     * means any image with ../img/  */
img[src*="../img/"]{
    border: 5px solid rgb(243, 162, 162);
}
/* | means any class with article-subtitle or article-subtitle.....
like article-subtitle-20202 */

/* h2[class|=article]{
    background: yellow;
} */
/* ~ is used for exact match */

/* #title{
    color: rgb(240, 227, 152)
} */
#service-image{
    height: 500px;
    width: 70%;
    background: radial-gradient(circle, red 20%, blue 40%, green 50%);
}