
    body {
        background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
        font-size: 1.15em;
        text-align: justify;
        font-family: "Lato", sans-serif;
    }
    
    input, textarea {
        display: block;
        margin: 10px;
    }
    .link: visited{
        color: red;
    }

   